<!DOCTYPE html>

<%
  const playersData = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']
%>

<html lang="ja">
<head>
  <meta name="robots" content="noindex, nofollow">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>iamasonic 2019</title>
</head>
<body>
  <div id="container">
    <header>
      <canvas id="header-image"></canvas>
      <img id="header-logo" src="res/header_logo.png" alt="iamasonic2019" />
    </header>
    <main>
      <section>
        <h2 class="easing-block1 sub-title">イベント詳細</h2>
        <div class="easing-block1" id="event">
          aaa
        </div>
      </section>
      <section>
        <h2 class="easing-block2 sub-title">タイムテーブル</h2>
        <div class="easing-block2" id="timetable">
          aaa
        </div>
      </section>
      <section>
        <h2 class="easing-block3 sub-title">演者</h2>
        <div class="easing-block3" id="players">
          <div class="players-column">
            <% for(let i in playersData){ %>
              <% if(i % 3 === 0){ %>
                <%- include('./components/player.ejs', {id: playersData[i], key: i}) %>
              <% } %>
            <% } %>
          </div>
          <div class="players-column">
            <% for(let i in playersData){ %>
              <% if(i % 3 === 1){ %>
                <%- include('./components/player.ejs', {id: playersData[i], key: i}) %>
              <% } %>
            <% } %>
          </div>
          <div class="players-column">
            <% for(let i in playersData){ %>
              <% if(i % 3 === 2){ %>
                <%- include('./components/player.ejs', {id: playersData[i], key: i}) %>
              <% } %>
            <% } %>
          </div>
        </div>
      </section>
      <section>
        <h2 class="easing-block4 sub-title">アクセス</h2>
        <div class="easing-block4" id="access">
          access
        </div>
      </section>
    </main>
    <footer class="easing-block5">
      <p>いあまそ</p>
    </footer>
  </div>
</body>
</html>