<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>iamasonic 2019</title>
</head>
<body>
  <div id="container">
    <header>
      <canvas id="header-image"></canvas>
    </header>
    <section>

    </section>
    <footer>

    </footer>
  </div>
</body>
</html>