@import './fonts.scss';

$break-point: 480px;
$transition-time: 500ms;

$title: PixelMplus12;
$sentence: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "游ゴシック Medium", YuGothic, YuGothicM, "Hiragino Kaku Gothic ProN", メイリオ, Meiryo, sans-serif; 

$content-color: #1f3669;
$back-color: #f5c81f;

html, body, #container {
  color: #1f3669;

  //font-family: $sans-serif;

  // base font size
  @media (max-width: $break-point) {
    font-size: 15px;
  }
  @media (min-width: calc( #{$break-point} + 1px)) {
    font-size: 18px;
  }

  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  
  background-color: #f5c81f;
}

#container {
  display: flex;
  align-items: center;

  flex-direction: column;

}

header {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;

  position: relative;

  #header-image {
    z-index: 1;

    position: absolute;

    left: 0;
    top: 0;
  }
  #header-logo-container {
    position: absolute;

    z-index: 20;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    #header-logo {
      @media (max-width: $break-point) {
        width: 85vw;
      }
      @media (min-width: calc( #{$break-point} + 1px)) {
        width: 50vw;
      }
    }
  }
}

main {
  position: relative;

  margin-top: calc(250px);
  @media (max-width: $break-point) {
    width: 100%;
  }
  @media (min-width: calc( #{$break-point} + 1px)) {
    width: 80vw;
    max-width: 1240px;
  }
}

section {

  #event {

    display: flex;
    flex-direction: row; 

    flex-wrap: wrap-reverse;
    & > *{
      margin: 15px;
      text-align: center;
    }
  }

  table {
    tr {
      td, th{
        padding: 5px;
        border-bottom: solid 3px $content-color;
      }
      .tt-name, .tt-time {
        text-align: center;
      }
      /*td.tt-name {
        filter: saturate(160%) hue-rotate(25deg);
        cursor: pointer;
        transition: filter 0.6s;

        &:hover {
          filter: saturate(180%) hue-rotate(165deg);
        }
      }*/
    }
  }

  & > .sub-title {
    font-family: $title;
    text-align: center;
    font-size: 2rem;
  }
  & > *:not(#players):not(.sub-title) {
    font-family: $title;
    font-size: 1.5rem;
  }
  & > #players h3 {
    font-family: $sentence;
  }
  & > #players p {
    font-family: $sentence;
  }
  & > *:not(#players) {
    padding: 10px;
  }

  #event {
    font-size: 1rem;
  }

  #players{
    display: flex;
    @media (max-width: $break-point) {
      flex-direction: column;
    }
    @media (min-width: calc( #{$break-point} + 1 )) {
      flex-direction: row;
    }
    justify-content: left;
    //align-items: baseline;
    // flex-wrap: wrap;

    .players-column{

      display: flex;
      flex-direction: column;
      align-items: flex-start;

      width: 100%;


      a{
        cursor: pointer;  
        &:hover {
          .player-card > img {
            filter: saturate(100%) brightness(0.4);
          }
        }

        margin: 10px;
        width: calc(100% - 20px);

        text-decoration: none;
        
        .player-card{ 
          display: flex;
          flex-direction: column;
          img {
            filter: saturate(180%);
            transition: filter 0.3s;
            width: 100%;

            vertical-align:bottom;
            box-sizing: border-box;
            border: solid 0px #ffffff;
          }
          .player-detail {
            background-color: #72c7d1;
            margin: 0;

            overflow: hidden;
            display: block;

            &[data-is-show="false"] {

              h3{
                font-size: 0;
              }
              p{
                font-size: 0;
              }

              transform: matrix3d(1,0,0.00,0,0.00,0,1.00,0.008,0,-1,0,0,0,0,0,1);
              -webkit-transform: matrix3d(1,0,0.00,0,0.00,0,1.00,0.008,0,-1,0,0,0,0,0,1); 
              transform-origin: center 0 0px; 
              -webkit-transform-origin: center 0 0px;

              padding: 0 12px;

              opacity: 0;

              color: rgba($color: #1f3669, $alpha: 0);

              filter: saturate(180%);

              -webkit-transition-property: filter font-size -webkit-transform transform transform-origin -webkit-transform-origin padding height opacity color;
              -webkit-transition-duration: $transition-time;
              -webkit-transition-timing-function: ease-out;
              transition-property: filter font-size -webkit-transform transform transform-origin -webkit-transform-origin padding opacity color;
              transition-duration: $transition-time;
              transition-timing-function: ease-out;
            }
            &[data-is-show="true"] {

              filter: saturate(70%);

              h3{
                font-size: 1.26rem;
              }
              p{
                font-size: 1.05rem;
              }
              transform: matrix3d(
                1, 0, 0, 0,
                0, 1, 0, 0,
                0, 0, 1, 0,
                0, 0, 0, 1
              );
              -webkit-transform: matrix3d(
                1, 0, 0, 0,
                0, 1, 0, 0,
                0, 0, 1, 0,
                0, 0, 0, 1
              );

              transform-origin: center 0 0px; 
              -webkit-transform-origin: center 0 0px;

              padding: 12px;

              display: block;
              opacity: 1;

              color: rgba($color: #1f3669, $alpha: 1);

              -webkit-transition-property: filter font-size transform -webkit-transform transform-origin -webkit-transform-origin padding height opacity color;
              -webkit-transition-duration: $transition-time;
              -webkit-transition-timing-function: ease-out;
              transition-property: filter font-size transform -webkit-transform transform-origin -webkit-transform-origin padding height opacity color;
              transition-duration: $transition-time;
              transition-timing-function: ease-out;
            }
            
          }
        }
      }
    }
  }
}
