<!DOCTYPE html>

<% const playersData = ['aa', 'ii'] %>

<html lang="ja">
<head>
  <meta name="robots" content="noindex, nofollow">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>iamasonic 2019</title>
</head>
<body>
  <div id="container">
    <header>
      <canvas id="header-image"></canvas>
      <img id="header-logo" src="res/header_logo.png" alt="iamasonic2019" />
    </header>
    <main>
      <section>
        <% for(let player in playersData){ %>
          <%- include('./components/player.ejs', {id: player}) %>
        <% } %>
      </section>
    </main>
    <footer>

    </footer>
  </div>
</body>
</html>