html, body, #container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#container {
  display: flex;
  align-items: center;

  flex-direction: column;
}

header {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  background-color: red;

  position: relative;

  #header-image {
    position: absolute;

    left: 0;
    top: 0;
  }
  #header-logo {
    @media (max-width: 900px) {
      width: 50vw;
    }
    @media (min-width: 901px) {
      width: 30vw;
    }

    position: absolute;

    margin: auto;
    left: 0;
    right: 0;
    top: 40vh;
  }
}

main {
  position: relative;

  margin-top: calc(100vh + 250px);
  @media (max-width: 900px) {
    width: 100%;
  }
  @media (min-width: 901px) {
    width: 800px;
  }
}

section {
  background-color: green;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

details.player-card{

  

  & > img {
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;
  }
}

footer {
  background-color: blue;
  height: 100px;
}